body{

}
// ====================================================
#root{
	height: 100vh;

	display: flex;
	flex-direction: column;
	overflow: hidden;
	#main_menu_hai{
		height: 131px;
	}
	#carouselExampleSlidesOnly{
		flex: auto;
		width: 100%;
		height: calc(100vh - 77px - 131px);
	}
	.navbar{
		height: 77px;
	}
}
.navbar{
	/* background-color: blue !important; */
	

	.navbar-brand{
		font-weight: bold;
		color: #000 !important;
	}
}

#container{
	width: 100vw;
	height: 100vh;
}

.canvasjs-chart-credit{
	display: none;
}

#tab_tienich{
  ul{
    li{
      &.uk-active{
        a{
          background-color: #fff;
        }
      }
      a{
        font-size: 16px;
        border: 1px solid #fff;
      }
    }
  }
}
#tab_gia{
  li{
    a{
      font-size: 20px;
    }
    &.uk-active{
      a{
        color: #fff;
      }
    }
  }
}
#hai_gia1{
  .uk-card{
    border: 1px solid #fff;
    margin-left: -1px;
    margin-bottom: -1px;
    .uk-card-title{
      font-size: 20px;
      color: #fff;  
    }
    ul{
      li{
        font-size: 15px;
      }
    }
  }
}
// =======================================
#hai_gia{
  .uk-card{
    background-color: #fff;
    .uk-card-title{
      font-size: 16px;
    }
    .uk-card-body{
      text-align: center;
      i{
        color: #000;
        font-size: 160px;
      }
    }
  }
}
// ====================================================
.hai_content{
  .uk-card-title{
    font-size: 16px;
  }
}
// ====================================================
.hai_table{
  thead{
    tr{
      th{
        color: #000;
      }
    }
  }
  tbody{
    tr{
      td{
        font-size: 14px;
        i,
        span{
          font-size: 14px;
        }
      }
    }
  }
}
// ====================================================
.hai_tab{
  li{
    &.uk-active{
      a{
        background-color: #FF6500;
        border-color: #FF6500 !important;
      }
    }
    a{
      border: 1px solid #ebedf2;
      border-radius: 0;
      text-transform: capitalize !important;
    }
  }
}
// ====================================================
.card_vnex1{
	.uk-card-body{
		.uk-card-title{
			font-size: 18px;
			margin-top: 10px;
			a{
				color: #1e87f0;
			}
		}
		p{
			font-size: 14px;
		}
	}
}
// ====================================================
#nguoidan_menu{
	.uk-card{
		padding: 50px 20px;
		transition: all .3s;
		&:hover{
			background-color: #E07839;
			transform: scale(1.2, 1.2);
		}
		.uk-card-title{
			font-size: 14px;
			text-transform: uppercase;
			text-align: center;
			white-space: nowrap;
			flex: auto;
		}
	}
}
// ====================================================
#menu1{
	.uk-card{
		&.uk-card-primary{
			background-color: #5C99CE;
		}
		&.uk-card-secondary{
			background-color: #1AAF54;
		}
		.uk-card-title{
			font-size: 16px;
			text-transform: uppercase;
		}
	}
}
// ====================================================
#baocao_h{
	.col-md-3{
		&:nth-child(1){
			.card{
				/* background-color: #3239C8; */
			}
		}
		&:nth-child(2){
			.card{
				/* background-color: #ff9444; */
			}
		}
		&:nth-child(3){
			.card{
				/* background-color: #CC976A; */
			}
		}
		&:nth-child(4){
			.card{
				/* background-color: #679B99; */
			}
		}
		&:nth-child(5){
			.card{
				/* background-color: #359D3C; */
			}
		}
		&:nth-child(6){
			.card{
				/* background-color: #1A4FB0; */
			}
		}
		&:nth-child(7){
			.card{
				/* background-color: #996096; */
			}
		}
		&:nth-child(8){
			.card{
				/* background-color: #9BCE9C; */
			}
		}
		.card{
			color: #fff;
			position: relative;
			margin-bottom: 20px;
			background-color: transparent;
			border-color: #fff;
			img{
				width: fit-content;
				width: 40px;
				position: absolute;
				right: 15px;
				top: 38px;
			}
			.card-body{
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				min-height: 130px;
				hr{
					border-color: #fff;
					width: 100%;
					border-style: dashed;
				}
				.card-title{
					font-size: 13px;
				}
				.card-text{
					font-size: 30px;
				}
			}
		}
	}
}
// ====================================================
.main_content_h{
	margin-top: 20px;
}

.widget-row-iframe{
	iframe{
		width: 100%;
		min-height: 750px!important;
    width: 100%;
    height: 100%;
	}
}

.title2_h{
	font-size: 24px;
	font-family:'Oswald Medium';
	color: #fff;
	margin-bottom: 20px;
	i.fa{
		color: #369D3C;
	}
}

.form_hai{
	.btn{
		&.btn-primary{
			background-color: #1d809f!important;
    	border-color: #1d809f!important;
		}
		&.btn-info{

		}
		&.btn-danger{
			background-color: #dc3545;
    	border-color: #dc3545;
		}
	}
}
// ====================================================
.card1_h{
	border-radius: 0;
	border-color: #fff;
	background-color: #0000007a;
	height: calc(100% - 42px);
	.card-body{
		.list-unstyled{
			li{
				p{
					a{
						color: #fff;
						font-size: 18px;
					}
				}
				time{
					font-size: 13px;
					color: #afafaf;
				}
			}
		}
	}
}
.card_ykien{
	border: 1px solid;
	border-color: #F9CF50;
	.uk-card-header{
		background-color: #F9CF50;
	}
	.uk-card-body{
		.input-group{
			border-radius: 0;
			.form-control{
				border-radius: 0;
			}
		}
	}
}
.card_td{
	background-color: #D6E0E7;
	.uk-card-body{
		.uk-card-title{
			background-color: #495D69;
			color: #fff;
			font-size: 14px;
		}
	}
}
// =======================================
.block1{
	padding: 10px 0;
	.title{
		font-family:'Roboto Medium';
		font-size: 18px;
		color: #2475B8;
	}
}
// =======================================
#stepby{
	.nav-item{
		border-radius: 0;
		text-align: left;
		color: #fff;
		flex: 1;
		&:not(:last-child){
			border-right: 1px solid #fff;
		}
		.stt{
			font-size: 34px;
		}
		h5{
			color: #fff;
		}
	}
}
// =======================================
.card-ph{
	background-color: #F9CF50;
}
.box_dichvucong{
	padding: 50px 0;
	.title{
		color: #fff;
	}
	.uk-card{
		height: 100%;
		.uk-card-body{
			.uk-card-title{
				font-size: 14px;
			}
		}
	}
}
.h_search{
	.uk-button{
		background-color: #E29348;
		border-color: #E29348;
	}
}
.h_table_kq{
	.uk-table{
		tr{
			th{
				font-weight: bold;
				color: #000;
				text-align: center;
			}
			td{
				font-size: 14px;
			}
			th,td{
				border: 1px solid #ccc;
			}
			&.uk-column-span{
				td{
					background-color: #E29348;
					color: #fff;
				}
			}
		}
	}
	.uk-accordion{
		li{
			&.uk-open{
				.uk-accordion-title{
					background-color: #E29348;
					color: #fff;
				}
			}
			.uk-accordion-title{
				background-color: #F5F5F5;
				font-size: 15px;
			}

		}
	}
}
// ====================================================
.title_contact{
	font-size: 18px;
}
// ====================================================
#footer{
	background-color: #E5E5E5;
	padding: 30px 0;
	border-top: 3px solid #81D3F0;
}
// ====================================================
.title_h{
	font-size: 19px;
	color: #fff;
	margin-bottom: 20px;
}

.box_item{
	text-decoration: none !important;
	.alert{
		border-color: #fff !important;
		background-color: transparent;
		color: #fff;
		min-height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-size: 20px;
		transition: all .3s;
		box-shadow: 2px 2px 15px 2px #b9b6b69e;
		>div{
			transition: all .3s;
		}
		&:hover{
			background-color: #fff6;
			>div{
				transform: scale(1.2, 1.2);
			}
		}
		span{
			display: none;
		}
		i.fa{
			display: none;
		}
		br{
			display: none;
		}
	}
}
// ====================================================
#main_menu_hai{
	li.nav-item{
		flex: 1;
		&:nth-child(1){
			a{
				background-color: #dc3545;
			}
		}
		&:nth-child(2){
			a{
				background-color: #ffc107;
			}
		}
		&:nth-child(3){
			a{
				background-color: #28a745;
			}
		}
		&:nth-child(4){
			a{
				background-color: #17a2b8;
			}
		}
		&:nth-child(5){
			a{
				background-color: #007bff;
			}
		}
		&:nth-child(6){
			a{
				background-color: #28a745;
			}
		}
		a{
			border-radius: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			color: #fff;
			font-weight: bold;
			img{
				width: fit-content;
				height: 81px;
			}
			span{
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				display: block;
				margin-top: 10px;
			}
		}
	}
}
// ====================================================